#footer {
<<<<<<< HEAD
  background-image: url(/assets/images/bg-contacts.png);
=======
  background-image: url(./assets/images/Background_Contacts.png);
>>>>>>> 9e7c7b85ea4b088391e2d2a3bd022b35a3083151
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 1366px;
  height: 787px;
  padding-block: 128px 200px;
  padding-inline: 120px;
  justify-content: flex-start;
  gap: 48px;

  header {
    gap: 8px;
    span {
      color: var(--purple);
    }
    h2 {
      color: var(--gray-600);
    }
    p {
      font: var(--text-md);
      color: var(--gray-500);
    }
  }
}

#links {
  gap: 16px;
}

.button {
  width: 400px;
  height: 68px;
  background-color: var(--gray-300);
  border-radius: 8px;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding-block: 20px;
  padding-inline: 20px;
  cursor: pointer;

  img:first-child {
    width: 28px;
    aspect-ratio: 1/1;
  }

  img:last-child {
    width: 20px;
  }

  div {
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
  }
  h3 {
    font-weight: 600;
  }
}

.button:hover {
  outline: 1.5px solid var(--blue);
  svg path {
    fill: var(--blue)
  }
}
