#intro {
  background-image: url(/assets/images/Background_Intro.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 750px;
  margin-top: 0px;

  .info {
    margin-top: 120px;
    max-width: 1040px;
  }

  .title {
    align-items: center;
  }

  .user {
    gap: 56px;
    margin-top: 0;
    align-items: center;
    justify-content: flex-start;
  }

  .profile-pic {
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: 2px solid var(--red);
    border-radius: 50%;

  }

  .code-icon {
    position: absolute;
    bottom: 0;
    right: -10px;
  }

  .avatar img:first-child {
    width: 87px;
    object-fit: cover;
  }

  .main-text {
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  h1 {
    margin-top: 8px;
    font: var(--title-lg);
    color: var(--gray-600);
  }

  h3 {
    font: var(--subtitle);
    color: var(--gray-500);
    span {
      color: var(--red);
    }
  }

  p {
    max-width: 680px;
    font: var(--text-sm);
    color: var(--gray-400);
    text-align: center;
  }
}
